@page
@model IndexModel

@using Microsoft.AspNetCore.Identity
@using test_case.Areas.Identity.Data

@inject SignInManager<test_caseUser> SignInManager
@inject UserManager<test_caseUser> UserManager
@{
    ViewData["Title"] = "Profile";
    Layout = "/Views/Shared/_Layout.cshtml";
    var user = await UserManager.GetUserAsync(User);
}

<main class="py-3">
  <section class="container">

    <partial name="_StatusMessage" for="StatusMessage" />

    <div class="row">

      <div class="col-md-9">

        <h4>Останнє замовлення</h4>

        <div class="card mb-3" style="max-width: 1040px;">
          <div class="row g-0">
            <div class="col-md-4">
                
              <ul>
                  <li>@user.FirstName @user.LastName</li>
                                  <section class="container py-5">

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        @foreach(var item in Model.Check)        
                        {
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        
                                            <img src="~/images/profile-picture.png" class="img-fluid rounded-start">
                                        
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Номер замовлення @item.Id</h5>
                                            <p class="card-text"><small class="text-muted">Замовлення зроблено @item.Order</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </section>
              </ul>
            </div>
            <div class="col-md-8">
              <div class="card-body">

                <p class="card-text">Цей qr-код, містить в собі ваше замовлення, проскануйте на касі що б отримати замовлення.</p>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">

        <div class="card" style="width: 18rem;">
            @if (Model.Input.ProfilePicture != null)
                {
                    <img id="profilePicture" class="img-fluid rounded-start" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))">
                }
                else
                {
                    <img id="profilePicture" class="img-fluid rounded-start" style="width:350px;height:350px; object-fit:cover" src="/images//profile-picture.png">
                }
          

          <div class="card-body">
            <figure class="text-center">
              <blockquote class="blockquote">
                <h5>@user.FirstName @user.LastName</h5>
              </blockquote>
              <figcaption class="blockquote-footer">
                @user.Email
              </figcaption>
            </figure>
            

            <button type="button" class="w-100 rounded-pill btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Змінити нік
            </button>

            <!-- Modal -->

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">

                <div class="modal-content">
                  <form id="profile-form" method="post" enctype="multipart/form-data">
                    <div class="modal-header">

                      <h5 class="modal-title" id="exampleModalLabel">Змінити імя</h5>
                      <input asp-for="Username" class="form-control" hidden disabled />
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <input asp-for="Input.Username" class="form-control" hidden />
                      <input asp-for="Input.FirstName" class="form-control" />
                      <input asp-for="Input.LastName" class="form-control" />

                      <div class="form-group">
                <label asp-for="Input.ProfilePicture" style="width: 100%;"></label>
                @if (Model.Input.ProfilePicture != null)
                {
                    <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))">
                }
                else
                {
                    <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="/images/profile-picture.png">
                }
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="Input.ProfilePicture"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                       onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
            </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                      <button type="submit" id="update-profile-button" class="btn btn-success">Зберегти зміни</button>

                    </div>


                  </form>
                </div>
              </div>
            </div>

            
                <div class="dropdown text-end py-3">
              <strong class="dropdown-toggle " role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    More...
  </strong>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a href="/check" class="dropdown-item">
                      <img width="19" src="~/images/total_orders2.png"> Загальні чеки
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/Identity/Account/Manage/ChangePassword">
                      <img width="19" src="~/images/change_password.png"> Змінити пароль
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/Identity/Account/Manage/Email">
                      <img width="19" src="~/images/change_email.webp"> Змінити email  
                    </a>
                  </li>
                  <!---->
                  
                  <!---->
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="nav-link px-2 text-dark"><img width="18" src="~/images/last_seen.png" /><strong> Останній візит</strong> @DateTime.Now.ToString()</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="nav-link text-dark px-2">
                      <img width="19" src="~/images/total_orders_sum.jpg"> Кількість замовлень  <strong>{{total_orders}}</strong>
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                      <button type="submit" class="nav-link btn btn-link text-dark">
                        <img width="19" src="~/images/logout.png"> Вийти з акаунту
                      </button>
                    </form>
                  </li>
                </ul>
              
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Button trigger modal -->

    </div>

  </section>

</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
