
@model IEnumerable<test_case.Models.Bucket>
@{
    
    ViewData["Title"] = "Кошик";
}
<div class="container">
  <!-- Контейнер Кошику -->
  <main>
    <div>
      <d class="col py-3">
        <!-- Виділення місця для списку замовлень -->
        <h4 class="d-flex justify-content-between align-items-center mb-3"> <!-- Сортування для елементу назви  -->
          <span class="text-dark">Замовлення</span>

        </h4>
        <ul class="list-group mb-3">
          <!-- Список кошику, сам кошик -->

          @foreach (var item in Model)
          {
          <li class="list-group-item justify-content-between lh-sm">
            <!-- Комірка в списку -->

            <div class="row ">
              <!-- Сортування -->

              <div class="col-md-2">
                <!-- Виділення місця на 2 пункти -->
                <img src="@item.ImagePath" class="img-fluid rounded-start">
                <!-- Зображення страви -->
              </div>
              <div class="col-md-9">
                <!-- Виділення місця на 9 пунктів -->

                <div class="card-body">
                  <!-- тіло комірки -->

                  <h5 class="card-title">@item.Name</h5>
                  <!-- Назва страви -->
                  <p class="card-text">@item.Description</p>
                  <!-- Склад страви -->

                </div>

              </div>
              <div class="col">
                <!-- Комірка на 1 пункт -->
                <span class="text-muted ">@item.Price UAH</span>
                <!-- Ціна товару -->
                
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">X</a>
              </div>
             </div>
          </li>

          <!-- Кінець комірки в списку -->
          }
          <!-- Примір комірок списку -->

          <!-- Кінець приміру списку -->

          <!--          <li class="list-group-item d-flex justify-content-between bg-light">&lt;!&ndash; Комірка промо знижки &ndash;&gt;-->
          <!--            <div class="text-success">-->
          <!--              <h6 class="my-0">Промо код</h6>-->
          <!--              <small>найдешевша позиція з 5 безкоштовна</small>&lt;!&ndash; Назва акції &ndash;&gt;-->

          <!--            </div>-->
          <!--            <span class="text-muted">-75.00 грн</span>&lt;!&ndash; Ціна акції &ndash;&gt;-->
          <!--          </li>&lt;!&ndash; Кінець комірки промо &ndash;&gt;-->
          @*<form asp-action="Gener">
            
            <input name="text" class="form-control" />
            <input type="submit" value="Gener" class="btn btn-primary" />     
             
  
    </form>
              <div>
                    <img src="/images/qr_codes/QuickStart.jpg" class="img-fluid rounded-start">
                </div>*@
          <li class="list-group-item d-flex justify-content-between">
            <!-- Комірка вартості -->
            <span>Вартість (ГРН)</span>

            <strong>@ViewBag.totalPrice UAH</strong>
            <!-- загальна сумма до сплати -->

          </li>
          <!-- Кінець комірки вартості -->

        </ul>
        <!-- Кінець кошику, списку замовлень -->

        <form asp-action="Promos" class="card p-2">
          <!-- Контейнер вводу промо -->
          <div class="input-group">
            <input name="a" id="a" type="text" class="form-control" placeholder="Промо код">
            <!-- Ввід промо -->
            <button type="submit" class="btn btn-secondary">Ввести</button>
            <!-- Кнопка застосування введеного промо -->
          </div>
        </form>
        </div>
        <partial name="_Pay"/>
        <hr class="my-4">
        


      </div>

  </main>
</div>
<!-- Кінець кошику -->