@model IEnumerable<test_case.Models.Menu>
@using Microsoft.AspNetCore.Identity
@using test_case.Areas.Identity.Data
@inject SignInManager<test_caseUser> SignInManager
@inject UserManager<test_caseUser> UserManager
@{
	ViewData["Title"] = "Роли";
    var user = await UserManager.GetUserAsync(User);
}





<main>
  <!-- Контейнер Меню -->

  <div class="album py-5">
    <!-- Контейнер Меню  з відступом в 5 одне від одного-->

    <div class="container">
      <!-- Контейнер Меню -->

      <h2>Роли</h2>
      <!-- Назва продукту -->

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- Сортування меню по черзі до низу, в 3 блоки -->

        @foreach (var item in Model) {
        <div class="col ">
          <!-- Контейнер страви -->
          <div class="card shadow-sm">

            <figure class="figure">
              <!-- Контейнер для Зображення -->

              <img src="@item.ImagePath" style="width:400px;height:250px; object-fit:cover" class="figure-img img-fluid rounded py-2">
              <!-- Зображення страви -->

            </figure>
            <div class="card-body">
              <!-- Тіло контейнеру -->

              <strong>@item.Name</strong>
              @if (SignInManager.IsSignedIn(User))
                {
               @if (user.Role == "Admin")
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.Id" asp-route-type="Rolls" class="btn btn-danger">X</a>
                                    }
                }
              <!-- Назва страви -->
              <p class="card-textcol " style="height: 50px">@item.Description</p>
              <!-- Склад страви -->

              <div class="d-flex justify-content-between align-items-center">
                <!-- Контейнер для ціни та кнопки замовлення -->

                <p>@item.Price UAH</p>
                <!-- Ціна -->

                <form asp-action="Rolls">

                  <input type="hidden" name="name" id="name" value="@item.Name">
                  <input type="hidden" name="price" id="price" value="@item.Price">
                  <input type="hidden" name="description" id="description" value="@item.Description">
                  <input type="hidden" name="imagepath" id="imagepath" value="@item.ImagePath">
                  <!-- Кнопка замовлення для додавання в сумми та страви в кошик -->
                  
                  <button type="submit" value="Rolls" class="btn btn-success ">Додати</button>
                </form>
               
                                    <!-- Кнопка замовлення для додавання в сумми та страви в кошик -->
              </div>
            </div>
          </div>
        </div>
        <!-- Кінець контейнера страви -->
        }
        <!-- Місце додавання нової страви з конструктора -->
        @if (SignInManager.IsSignedIn(User))
                {
                    @if (user.Role == "Admin")
                    {
                        <form asp-controller="Menu" asp-action="Add" enctype="multipart/form-data">
                            <label for="name" class="form-label">Назва</label>
                            <input name="name" id="name" class="form-control" />

                            <label for="description" class="form-label">Опис</label>
                            <input name="description" id="description" class="form-control" />

                            <label for="price" class="form-label">Ціна</label>
                            <input name="price" id="price" class="form-control" />
                            <input name="type" id="type" value="ROLLS" hidden/>
                            <div class="mb-3">

                                <input type="file" name="file" />
                            </div>

                            <input type="submit" value="Додати" class="btn btn-primary" />

                        </form>


                    }
                }

                <!-- Місце додавання нової страви з конструктора -->

      </div>
      <!-- Кінець сортування меню по черзі до низу, в 3 блоки -->

    </div>
    <!-- Контейнер Меню  -->

  </div>
  <!-- Кінець контейнера Меню  з відступом в 5 одне від одного-->

</main>
<!-- Кінець контейнера Меню -->
